{% extends 'patientapp/base.html' %}


{% block content %}

<div class="text-center mt-4 mb-3">
    <button class="btn btn-light btn-lg" style="width: 300px;">--- CHANGE PASSWORD ---</button>
</div>

<div class="card mt-3 p-5">

    <div class="text-center mt-2 text-center" style="width:70%;margin:auto">
      {% for message in messages %}
      <p class="alert alert-success">{{message}}</p>
      {% endfor %}
    <form method="POST" action="{% url 'change-password-done' %}">
      {% csrf_token %}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="password" id="form1Example1" class="form-control" name="old_pass" />
    <label class="form-label" for="form1Example1">Enter Old password</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form1Example2" class="form-control" name="new_pass" />
    <label class="form-label" for="form1Example2">New Password</label>
  </div>

  
  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form1Example3" class="form-control" name="confirm_new_pass" />
    <label class="form-label" for="form1Example3">Confirm New Password</label>
  </div>

  

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Change Password</button>
</form>




</div>

</div>










{% endblock %}