{% extends 'patientapp/base.html' %}


{% block content %}



<div class="mt-3 mb-3 p-4">
    <div class="card text-center p-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-5">
                <div class="card p-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbt8O9agjgkIDcPpF2AkAA5EJY2Vsf7WZxFY3sLaodBpSUHmJXrE8g2bxI8tpn6Uudj7M&usqp=CAU"
                        width="100%" height="500px">

                </div>

            </div>


            <div class="col-sm-12 col-md-6 offset-md-0">
                <div class="card p-4">

                    <div class="text-center mb-3">
                        <button class="btn btn-light btn-lg mb-3">REGISTER HERE</button>
                    </div>

                    {% for i in messages %}
                    <p class="alert alert-danger">{{i}}</p>
                    {% endfor %}
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1" class="form-control"  name="fname"/>
                                    <label class="form-label" for="form3Example1">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form3Example2" class="form-control"  name="lname" />
                                    <label class="form-label" for="form3Example2">Last name</label>
                                </div>
                            </div>
                        </div>

                         <!-- Email input -->
                         <div class="form-outline mb-4">
                            <input type="text" id="form3Example12" class="form-control" name="username" />
                            <label class="form-label" for="form3Example12" >Enter Username</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control" name="email" />
                            <label class="form-label" for="form3Example3" >Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" class="form-control"  name="pass" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example10" class="form-control" name="cpass"/>
                            <label class="form-label" for="form3Example10" >Re Enter Password</label>
                        </div>

                       

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 mb-5">Sign up</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <label>Already Hava Account - </label>
                           <a href="{% url 'login' %}">Login Here</a>

                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}